# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
backend/.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/*
!.vscode/settings.json
